* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  align-self: center;
}

html{
    min-height: 100%;

}
body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top:100px;
    background: #654ea3; 
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    overflow: auto;
    background-repeat: no-repeat;
}




h1 {
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}


.social-container {
	margin: 20px 0;
}


.social{
	 padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

img {
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}



#textInput {
  
   margin-top: 250px;
  background: rgba(255, 244, 244, 0.4);
  border: none;
  width: 100%;
  padding: 1.2em;
  outline: none;
  color: black;
  font-weight: 300;
  border-radius: 30px;
  box-shadow: black;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 50px;
}

.userText span {
    background-color: rgba(61, 30, 241, 0.4);
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 50px;
}

.botText span {
    background-color: rgba(226, 21, 165, 0.4);
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}